h3{
    padding: 20px;
    font-family: sans-serif;
}
.electronics {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.electronics img{
    transition: 1s ease;
}
.electronics img:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}